:root {
    --cor-fundo: #F9F5E3;
    --cor-superficie: #C3D59E;
    --cor-texto: #0a0a0a;
        /* Primeiro par: AA:4.5 e AAA: 7.0 */
        /* Quinto par: AA:4.5 e AAA: 7.0 */
    --cor-texto-suave: #2A4A2A;
         /* Segundo par: AA:4.5 e AAA: 7.0 */
    --cor-marca: #4F8C2A;
         /* Terceiro par: AA:3.0 e AAA: 4.5 */
    --cor-sobre-marca: #5C3B1A;
         /* Quarto par(antes de alterar): AA:4.5 e AAA: 7.0 */
    --cor-borda: #4F8C2A;

    --fonte-texto: system-ui, sans-serif;
    --fonte-titulo: "Rancho", cursive;
     /* Multiplicador = 1.350 */
    --tamanho-texto: 1rem;
    --tamanho-h3: 1.350rem; 
    --tamanho-h2: 1.823rem;
    --tamanho-h1: 2.460rem;

    --espaco-1: 0.5rem;
    --espaco-2: 1rem;
    --espaco-3: 1.5rem;
    --espaco-4: 2.5rem;
    --raio: 15px;
    --sombra: 4px 4px 10px rgba(79, 140, 42, 0.4);
}